@font-face {
  font-family: "1942_report1942_report";
  src: url("/fonts/1942-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: rgb(249, 198, 201);
  background: linear-gradient(
    45deg,
    rgba(249, 198, 201, 1) 0%,
    rgba(250, 237, 203, 1) 100%
  );
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact {
  max-width: 50%;
  min-width: 25%;
}

.fields {
  padding: 0.2em 0 0.2em 0;
}

.form_header {
  font-family: "1942_report1942_report", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

label {
  font-family: "1942_report1942_report", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

input {
  width: 100%;
  min-width: 25%;
}

.recaptcha {
  width: 50%;
}

.submit {
  list-style-type: none;
}
