/* font-face loads for Reckless */

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Regular.woff") format("woff"),
    url("/fonts/Reckless-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-RegularItalic.woff") format("woff"),
    url("/fonts/Reckless-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Bold.woff") format("woff"),
    url("/fonts/Reckless-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-BoldItalic.woff") format("woff"),
    url("/fonts/Reckless-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

/* Global default styles */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Reckless", serif;
  background-color: #fffaeb;
  margin: 0;
}

/* Containers and content */

.main-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 125px 1fr 1fr 100px;
  margin: 0 5% 0 5%;
}

/* Row 1 = Header */

.header-container {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container h1,
.header-container h2 {
  margin: 0;
  color: #e87364;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.header-container h1 {
  font-size: 2.5em;
  padding-bottom: 0.25em;
}

.header-container h2 {
  font-size: 1.25em;
}

/* Row 2 = Side image & Welcome Text */

.side-container {
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.side-container img {
  width: 100%;
}

.content-container {
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-container h2,
.content-container h3 {
  font-style: italic;
  margin: 0;
  padding-bottom: 0.25em;
  color: #e87364;
}

.content-container h2 {
  font-weight: bold;
}

.content-container h3 {
  font-weight: normal;
  /* text-decoration: none; */
}

.content-container p {
  margin: 0.5em 0;
  color: #e87364;
  font-size: 1em;
}

.content-container h2 {
  padding: 1.5em 0 0.75em 0;
  font-size: 1em;
}

.content-container ul {
  margin-top: 0;
  padding-left: 1.5em;
  color: #e87364;
  font-style: italic;
  font-size: 1em;
}

.content-container li {
  padding-bottom: 1em;
}

/* Row 3 = Form */

.contact {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 800px;
  min-width: 550px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.form_header {
  font-family: "Reckless", serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: 30px 0 0 0;
  padding-bottom: 15px;
  color: #e87364;
  text-align: center;
}

.contact ul {
  list-style: none;
  padding-left: 0;
}

.contact .grid {
  display: grid;
}

.contact .grid-2 {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contact .grid input {
  width: 100%;
}

.contact .grid-1 {
  grid-template-columns: 1fr;
}

.contact input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-style: none;
  box-shadow: 0 8px 6px -6px rgb(235, 235, 235);
}

/* .grid .recaptcha {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

::placeholder {
  font-family: "Reckless", serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  color: #e87364;
}

.contact .submit-button {
  width: 125px;
  padding: 0.75em;
  justify-self: center;
  margin-top: 1.5em;
  background-color: #fffaeb;
  color: #e87364;
  border-radius: 10px;
  border: 2px solid #e87364;
}

.contact .submit-button:hover {
  background-color: #e87364;
  color: #fffaeb;
}

/* Row 4 = Footer */

.footer-container {
  /* background-color: yellow; */
  grid-column-start: 1;
  grid-column-end: 3;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: inherit !important;
}

/* Media Queries */

/* Small screens */

@media (max-width: 576px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto auto 100px;
    margin: 0;
  }
  .header-container {
    grid-column-start: 1;
    grid-column-end: 2;
    /* margin-bottom: 0.5em; */
  }
  .header-container h1 {
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 0.25em;
  }
  .header-container h2 {
    font-size: 0.9em;
    margin: 0;
    /* appearance: none; */
  }
  .side-container {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0;
  }
  .content-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .contact {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 10px 0 10px;
    min-width: 300px;
  }

  .contact input {
    width: 100%;
    margin-bottom: 0.75rem;
  }
  .contact .grid-2 {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .footer-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/* Wide Screens */

@media (min-width: 1500px) {
  .main-container {
    margin: 0 20% 0 20%;
  }
}
