@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Regular.woff") format("woff"),
    url("/fonts/Reckless-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-RegularItalic.woff") format("woff"),
    url("/fonts/Reckless-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Bold.woff") format("woff"),
    url("/fonts/Reckless-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-BoldItalic.woff") format("woff"),
    url("/fonts/Reckless-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Reckless", serif;
  background: rgb(249, 198, 201);
  background: linear-gradient(
    45deg,
    rgba(249, 198, 201, 1) 0%,
    rgba(250, 237, 203, 1) 100%
  );
}
.main-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header-container {
  /* background-color: red; */
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container h1,
.header-container h2 {
  color: navy;
}

.side-container {
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 0;
}
.side-container img {
  width: 100%;
}

.content-container {
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 0;
  margin: 2em;
}

.form-container {
  grid-column-start: 1;
  grid-column-end: 3;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fields {
  padding: 0.2em 0 0.2em 0;
}

.form_header {
  font-family: "Reckless", serif;
  font-size: 1.5em;
  font-weight: normal;
}

label {
  font-family: "Reckless", serif;
  font-size: 1em;
  font-weight: normal;
}

input {
  width: 100%;
  min-width: 25%;
}

.recaptcha {
  width: 50%;
}

.submit {
  list-style-type: none;
}

.footer-container {
  /* background-color: yellow; */
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .header-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .side-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .form-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer-container {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
