/* Containers and content */

.hotels-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: auto auto; */
  grid-template-rows: auto 1fr 200px;
  margin: 0 5% 0 5%;
}

.hotels {
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 0;
  padding: 2em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color: #e87364;
}

.hotels .description {
  padding: 0 0 1em 0;
}

.hotels .description h1 {
  margin: 0;
}

.hotels .hotel-header,
h1 {
  font-size: 2em;
}

.hotels p {
  font-size: 1.25em;
  margin: 1em 0 1em 0;
}

.hotels h1 {
  font-size: 1.25em;
}

.hotels ul {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.hotels li {
  list-style-type: none;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em 0 1em 0;
}

.hotels .city h1 {
  margin: 0;
}

.hotels .city ul {
  padding: 0 0 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hotels .hotel-name {
  font-weight: bold;
}

.hotels a:link {
  text-decoration: none;
  color: #e87364;
  text-decoration: underline;
}

.hotels a:visited {
  text-decoration: none;
  color: #e87364;
}

.hotels a:hover {
  text-decoration: underline;
}

.hotels a:active {
  text-decoration: underline;
}

.side-container {
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.side-container img {
  width: 100%;
}