/* Containers and content */

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: auto auto; */
  grid-template-rows: auto 1fr 200px;
  margin: 0 5% 0 5%;
}

.hotels {
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.hotels h1 {
  color: #e87364;
  font-style: italic;
}

.hotels ul {
  padding: 0;
  color: #e87364;
  font-style: italic;
  font-size: 1em;
}

.hotels li {
  list-style-type: none;
  color: #e87364;
  font-size: 1em;
}