/* Media Queries */

/* Small screens */

@media (max-width: 990px) {
    .header-container .logo img {
        display: none;
    }
}

@media (max-width: 576px) {
    .main-container {
        grid-template-columns: 100%;
        grid-template-rows: 100px auto auto auto auto;
        margin: 0;
    }

    .header-container {
        grid-column-start: 1;
        grid-column-end: 2;
        flex-direction: column;
        justify-content: center;
    }

    .header-container img {
        display: none;
    }

    .header-container .title h1 {
        font-size: 1.5em;
        margin: 0;
        padding-bottom: 0.25em;
    }

    .header-container .title h2 {
        font-size: 0.9em;
        margin: 0;
    }

    .side-container {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0;
    }

    .side-container img {
        max-width: 100%;
    }

    .content-container {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .rsvp-container {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0 10px 0 10px;
    }

    .rsvp {
        width: 350px;
    }

    .rsvp select {
        height: 50px;
        font-size: 1em;
    }

    .rsvp input {
        height: 50px;
        font-size: 1em;
    }

    .rsvp-container ul {
        margin: 0;
    }

    .rsvp .grid-2 {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .rsvp .grid-2 label {
        justify-content: flex-start;
        padding-bottom: 0.75em;
        font-size: 1em;
    }

    .rsvp .grid-2 .footer-container {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0;
    }

    .footer-container ul {
        margin: 0;
        padding-bottom: 1em;
    }

    .footer-container li {
        font-size: 1.25em;
        padding: 0.75em 0.5em;
        margin: 0;
    }
}

/* Wide Screens */

@media (min-width: 1500px) {
    .main-container {
        margin: 0 20% 0 20%;
    }
}