/* Containers and content */

.main-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr 200px;
  margin: 0 5% 0 5%;
}

/* Row 3 = Form */

.rsvp-container {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.rsvp {
  width: 600px;
}

.form_header {
  font-family: "Reckless", serif;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0 0 0;
  padding-bottom: 15px;
  color: #e87364;
  text-align: center;
}

.rsvp p {
  font-family: "Reckless", serif;
  font-size: 1.25em;
  color: #e87364;
  text-align: center;
  padding-bottom: 1.5em;
}

.rsvp ul {
  list-style: none;
  padding-left: 0;
}

.rsvp .grid {
  display: grid;
}

.rsvp .grid-2 {
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
}

.rsvp .grid-2 label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1em;
  font-family: "Reckless", serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #e87364;
}

.rsvp .grid input {
  width: 100%;
}

.rsvp .grid-1 {
  grid-template-columns: 1fr;
}

.rsvp input {
  margin-bottom: 1rem;
  padding: 0.9rem;
  border-radius: 10px;
  border: 2px solid #e87364;
}

::placeholder {
  font-family: "Reckless", serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  color: #e87364;
  opacity: 1;
}

#meal-choice {
  color: red;
  max-width: 600px;
}

#meal-choice-guest {
  color: green;
  max-width: 600px;
}

.rsvp select {
  margin-bottom: 1rem;
  padding: 0.9rem;
  border-radius: 10px;
  border: 2px solid #e87364;
  font-family: "Reckless", serif;
  font-weight: bold;
  display: inline-block;
  color: #e87364;
  background-color: white;
}

.rsvp .submit-button {
  width: 125px;
  padding: 0.75em;
  justify-self: center;
  margin: 1.5em 0;
  background-color: #fffaeb;
  color: #e87364;
  border-radius: 10px;
  border: 2px solid #e87364;
  font-weight: bold;
}

.rsvp .submit-button:hover {
  background-color: #e87364;
  color: #fffaeb;
}